@charset "utf-8";
/* CSS Document */
body
{
	margin:0;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(193,193,193,1.00)),color-stop( 100% , rgba(255,249,249,1.00)));
	background-image: -webkit-linear-gradient(270deg,rgba(193,193,193,1.00) 0%,rgba(255,249,249,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(193,193,193,1.00) 0%,rgba(255,249,249,1.00) 100%);
	
	
}